<!-- Add New Task Form & Button -->
<section class="p-5 flex justify-end">

  <!-- Add task Form -->
  <ng-container *ngIf="showAddToDoTaskForm">

    <form [@fadeInOut]
          class="w-full my-2 flex flex-wrap items-center border dark:border-gray-300 shadow-sm dark:shadow-gray-300"
          (ngSubmit)="addTaskFormHandler(addTaskFrom)"
          #addTaskFrom="ngForm" ngForm>
      <!-- Task Title Input -->
      <div class="w-full border-r md:w-[35%] md:border-r dark:border-gray-300">
        <input [ngClass]="classes.input"
               type="text"
               placeholder="Task Title..."
               name="title"
               #title="ngModel"
               minlength="5"
               maxlength="255"
               required
               ngModel/>
      </div>
      <!-- Task Title Input -->

      <!-- Task Status -->
      <div class="w-full border-r md:w-[13%] flex mx-auto">

        <select [ngClass]="classes.input"
                name="status"
                #status="ngModel"
                ngModel>
          <option value="">Status</option>
          <option value="{{status}}"
                  *ngFor="let status of taskStatuses">
            {{status}}
          </option>
        </select>

      </div>
      <!-- Task Status -->

      <!-- Task Priority -->
      <div class="w-full border-r md:w-[13%] flex mx-auto">

        <select [ngClass]="classes.input"
                name="priority"
                #priority="ngModel"
                ngModel>
          <option value="">Priority</option>
          <option value="{{priority}}"
                  *ngFor="let priority of taskPriority">
            {{priority}}
          </option>
        </select>

      </div>
      <!-- Task Priority -->

      <!-- Task Start Date Input -->
      <div class="w-full md:w-[13%] border-r dark:border-gray-300">
        <input [ngClass]="classes.input"
               type="date"
               name="start_date"
               #start_date="ngModel"
               ngModel>
      </div>
      <!-- Task Start Date Input -->

      <!-- Task End Date Input -->
      <div class="w-full md:w-[13%] border-r dark:border-gray-300">
        <input [ngClass]="classes.input"
               type="date"
               name="end_date"
               #end_date="ngModel"
               ngModel>
      </div>
      <!-- Task End Date Input -->

      <!-- Task Action Buttons -->
      <div class="w-full md:w-[13%] flex justify-center border-r dark:border-gray-300">

        <button type="submit" (click)="addTaskFormHandler(addTaskFrom);showAddToDoTaskForm = false"
                class="text-green-600 md:mr-2">
          <mat-icon>add_task</mat-icon>
        </button>

        <button type="button" (click)="showAddToDoTaskForm = false"
                class="text-[#a05e5e] ">
          <mat-icon>cancel</mat-icon>
        </button>

      </div>
      <!-- Task Action Buttons -->

    </form>

  </ng-container>
  <!-- Add task Form -->


</section>
<!-- Add New Task Form & Button -->

<!--Tasks List Table -->
<section [style]="'overflow-x:auto;'" class="overflow-x-auto md:p-5">

  <table matSort (matSortChange)="sortData($event)" *ngIf="tasksList"
         class="w-full container-light dark:container-dark dark:shadow-gray-500">

    <!--Table Header START-->
    <thead>

    <tr class="bg-[#364962] dark:bg-[#364962]">

      <th class="text-center whitespace-nowrap px-2 py-3 uppercase"
          mat-sort-header="title">
          Title
      </th>

      <th class="text-center whitespace-nowrap px-2 py-3 uppercase"
          mat-sort-header="status">
        Status
      </th>

      <th class="hidden md:table-cell text-center whitespace-nowrap px-2 py-3 uppercase"
          mat-sort-header="priority">
        Priority
      </th>

      <th class="hidden md:table-cell text-center whitespace-nowrap px-2 py-3 uppercase"
          mat-sort-header="startDate">
        Start Date
      </th>

      <th class="hidden md:table-cell text-center whitespace-nowrap px-2 py-3 uppercase"
          mat-sort-header="endDate">
        End Date
      </th>

      <th class="text-center whitespace-nowrap px-2 py-3 uppercase">
        Action
      </th>

    </tr>

    </thead>
    <!--Table Header END-->

    <tbody>

    <!--Table Body Row START-->
    <tr [@fadeInOut] *ngFor="let task of tasksList" [ngClass]="classes.tableBodyRow">

      <!-- Task Title START -->
      <td class="py-3 relative dark:hover:bg-[#4b5563] cursor-pointer">

        <span [routerLink]="['/tasks/',task.id]">{{task.title}}</span>

        <!-- Task description Popup -->
        <button class="hidden md:inline-block absolute right-[7px] ml-2"
                matTooltip="Show Task Description"
                matTooltipPosition="above"
                mat-button [matMenuTriggerFor]="description">
          <mat-icon>subject</mat-icon>
        </button>
        <mat-menu #description="matMenu">
          <p class="p-5 bg-white dark:text-gray-400 dark:bg-gray-900">
            {{task.description}}
          </p>
        </mat-menu>
        <!-- Task description Popup -->

      </td>
      <!-- Task Title END -->

      <!-- Task Status START -->
      <td #selectorStatus mat-button [matMenuTriggerFor]="statusMenu"
          [ngClass]="classes.tableBodyRowTD" >
        {{task.status}}
        <mat-menu class="example-mat-menu dark:example-mat-menu-dark" #statusMenu="matMenu" xPosition="after">
          <button (click)="updateTaskId(task.id,task.status,'status',status);
                selectorStatus.innerText = status"
                  *ngFor="let status of taskStatuses" mat-menu-item>
            {{status}}
          </button>
        </mat-menu>
      </td>
      <!-- Task Status END -->

      <!-- Task Priority START -->
      <td #selectorPriority mat-button [matMenuTriggerFor]="priorityMenu"
          class="hidden md:table-cell py-3 dark:hover:bg-[#4b5563] w-[20px] border-l dark:border-gray-600 cursor-pointer">
<!--        {{task.priority}}-->
        <ng-container [ngSwitch]="task.priority">
          <mat-icon [style]="'color:darkred; padding: 3px 2px 0 3px; font-size:23px; height:31px; width:31px;'"
                    *ngSwitchCase="TaskPriorityNames.URGENT">flag</mat-icon>
          <mat-icon [style]="'color:darkorange; padding: 3px 2px 0 3px; font-size:23px; height:31px; width:31px;'"
                    *ngSwitchCase="TaskPriorityNames.HIGH">flag</mat-icon>
          <mat-icon [style]="'color: darkblue; padding: 3px 2px 0 3px; font-size:23px; height:31px; width:31px;'"
                    *ngSwitchCase="TaskPriorityNames.LOW">flag</mat-icon>
          <mat-icon [style]="'color: darkgray; padding: 3px 2px 0 3px; font-size:23px; height:31px; width:31px;'"
                    *ngSwitchCase="TaskPriorityNames.NO_PRIORITY">flag</mat-icon>
        </ng-container>
        <mat-menu class="example-mat-menu" #priorityMenu="matMenu" xPosition="after">
          <button (click)="updateTaskId(task.id,task.status,'priority',priority);
                  selectorPriority.innerText = priority"
                  *ngFor="let priority of taskPriority" mat-menu-item>
            {{priority}}
          </button>
        </mat-menu>
      </td>
      <!-- Task Priority END -->

      <!-- Task Start Date START-->
      <td #startDateData (click)="showStartDateEditInput.value = 'true'"
          [ngClass]="showStartDateEditInput.value === 'true' ? classes.editTableBodyTD : classes.tableBodyRowTD "
          class="hidden md:table-cell" >
        <input type="hidden" #showStartDateEditInput value="false"/>
        <ng-container *ngIf="showStartDateEditInput.value === 'false'; else editStartDate">
          {{task?.start_date | date: 'MMM d, y, H:mm'}}
        </ng-container>
        <ng-template #editStartDate>
          <input [ngClass]="classes.input"
                 type="date"
                 #startDate
                 (change)="updateTaskId(task.id,task.status,'start_date',startDate.value);
                  showStartDateEditInput.value='false';
                  startDateData.innerText = toDate(startDate.value)"/>
        </ng-template>
      </td>
      <!-- Task Start Date END-->

      <!-- Task End Date START-->
      <td #endDateSelector (click)="showEndDateInput.value = 'true'"
          [ngClass]="showEndDateInput.value === 'true' ? classes.editTableBodyTD : classes.tableBodyRowTD"
          class="hidden md:table-cell" >
        <input type="hidden" #showEndDateInput value="false"/>
        <ng-container *ngIf="showEndDateInput.value === 'false'; else editEndDateInput">
          {{task?.end_date | date: 'MMM d, y, H:mm'}}
        </ng-container>
        <ng-template #editEndDateInput>
          <input [ngClass]="classes.input"
                 type="date"
                 #endDate
                 (change)="updateTaskId(task.id,task.status,'end_date',endDate.value);
                  showEndDateInput.value='false';
                  endDateSelector.innerText = toDate(endDate.value)"/>
        </ng-template>
      </td>
      <!-- Task End Date END-->

      <!-- Task Action Buttons START -->
      <td class="py-3 w-[50px] max-w-[50px] border-l dark:border-gray-600">
        <button class="hidden md:inline-block text-gray-500 mr-2 cursor-pointer text-[#3174d3]"
                (click)="openEditTaskModal(task)"
                mat-raised-button
                matTooltip="Edit Task"
                matTooltipPosition="above"
                matTooltipHideDelay="150">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="text-gray-500 cursor-pointer text-[#a05e5e]"
                (click)="openDeleteTaskModal(task)"
                mat-raised-button
                matTooltip="Delete Task"
                matTooltipPosition="above"
                matTooltipHideDelay="150">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
      <!-- Task Action Buttons END -->

    </tr>
    <!--Table Body Row END-->

    </tbody>

  </table>

</section>
<!--Tasks List Table -->

<!-- Add Task Button -->
<div *ngIf="!showAddToDoTaskForm"
     class="z-40 cursor-pointer md:py-2 md:px-3 border bg-gray-700 hover:bg-gray-800 fixed bottom-20 md:bottom-10 right-4 rounded-full md:rounded-md  active:bg-gray-900 ">

  <span (click)="showAddToDoTaskForm=true" class="hidden md:block">Add Task</span>

  <span *ngIf="!showAddTaskModalForm" (click)="showAddTaskModal();showAddTaskModalForm=true" class="block md:hidden ">
    <mat-icon [style]="'width:54px; height:45px;'"
              class="text-[50px] pt-[2px] pl-[2px] font-extrabold">add</mat-icon>
  </span>

</div>
<!-- Add Task Button -->
