<!--Tasks List Table -->
<section [style]="'overflow-x:auto;'" class="overflow-x-auto md:p-5">

  <table matSort (matSortChange)="sortData($event)" *ngIf="tasksList"
         style="width:100%;"
         class="w-full container-light dark:container-dark dark:shadow-gray-500">

    <!--Table Header START-->
    <thead>

    <tr class="bg-[#364962] dark:bg-[#364962]">

      <th class="mx-auto text-sm whitespace-nowrap px-2 py-3 uppercase"
          mat-sort-header="title">
        Task Title
      </th>

      <th class="mx-auto text-sm whitespace-nowrap px-2 py-3 uppercase"
          mat-sort-header="status">
        Status
      </th>

      <th class="mx-auto text-sm whitespace-nowrap px-2 py-3 uppercase"
          mat-sort-header="priority">
        <span class="hidden md:inline">Priority</span>
      </th>

      <th class="hidden md:table-cell mx-auto text-sm whitespace-nowrap px-2 py-3 uppercase"
          mat-sort-header="endDate">
        End Date
      </th>

      <th class="mx-auto text-sm whitespace-nowrap px-2 py-3 uppercase"></th>

    </tr>

    </thead>
    <!--Table Header END-->

    <tbody>

    <!--Table Body Row START-->
    <tr [@taskFadeInOut] *ngFor="let task of tasksList" [ngClass]="classes.tableBodyRow">

      <!-- Task Title START -->
      <td
          class="relative p-2 flex gap-1 justify-between items-center dark:hover:bg-[#4b5563] cursor-pointer">

        <span class="md:hidden" [routerLink]="['/tasks',task.id]">{{task.title}}</span>
        <span class="hidden md:inline-block" (click)="openTaskViewModal(task)">{{task.title}}</span>
        <input #showDescription type="hidden" value="false">

        <!-- Task description Popup -->

        <button class="hidden md:inline-block"
                (mouseover)="showDescription.value='true'"
                (mouseleave)="showDescription.value='false'">
          <mat-icon>subject</mat-icon>
        </button>

        <ng-container *ngIf="showDescription.value === 'true'">
          <div [innerHTML]="task.description"
               class="w-[96vw] md:w-[80vw] absolute bottom-[40px] left-[20px] z-10 min-w-40 p-5 bg-white dark:text-gray-400 dark:bg-gray-900 border"></div>
        </ng-container>

        <!-- Task description Popup -->

      </td>
      <!-- Task Title END -->

      <!-- Task Status -->
      <td #selectorStatus mat-button [matMenuTriggerFor]="statusMenu"
          [ngClass]="classes.tableBodyRowTD">
        {{task.status}}
        <mat-menu class="dark:bg-gray-800" #statusMenu="matMenu" xPosition="after">
          <button (click)="updateTaskId(task.id,task.status,'status',status);
                selectorStatus.innerText = status"
                  *ngFor="let status of taskStatuses" mat-menu-item>
            <span class="dark:text-gray-300">{{status}}</span>
          </button>
        </mat-menu>
      </td>
      <!-- Task Status -->

      <!-- Task Priority START -->
      <td mat-button [matMenuTriggerFor]="priorityMenu"
          class="dark:hover:bg-[#4b5563] w-[20px] border-l dark:border-gray-600 cursor-pointer">
        <!--        {{task.priority}}-->
        <ng-container [ngSwitch]="task.priority">
          <mat-icon [style]="'color:darkred; padding: 3px 2px 0 3px; font-size:23px; height:31px; width:31px;'"
                    *ngSwitchCase="TaskPriorityNames.URGENT">flag
          </mat-icon>
          <mat-icon [style]="'color:darkorange; padding: 3px 2px 0 3px; font-size:23px; height:31px; width:31px;'"
                    *ngSwitchCase="TaskPriorityNames.HIGH">flag
          </mat-icon>
          <mat-icon [style]="'color: lightblue; padding: 3px 2px 0 3px; font-size:23px; height:31px; width:31px;'"
                    *ngSwitchCase="TaskPriorityNames.LOW">flag
          </mat-icon>
          <mat-icon [style]="'color: darkgray; padding: 3px 2px 0 3px; font-size:23px; height:31px; width:31px;'"
                    *ngSwitchCase="TaskPriorityNames.NO_PRIORITY">flag
          </mat-icon>
        </ng-container>
        <mat-menu class="dark:bg-gray-800" #priorityMenu="matMenu" xPosition="after">
          <button (click)="updateTaskId(task.id,task.status,'priority',priority);"
                  *ngFor="let priority of taskPriority" mat-menu-item>
            <span class="dark:text-gray-300">{{priority}}</span>
          </button>
        </mat-menu>
      </td>
      <!-- Task Priority END -->

      <!-- Task End Date START-->
      <td #endDateSelector (click)="showEndDateInput.value = 'true'"
          [ngClass]="showEndDateInput.value === 'true' ? classes.editTableBodyTD : classes.tableBodyRowTD"
          class="hidden md:table-cell">
        <input type="hidden" #showEndDateInput value="false"/>
        <ng-container *ngIf="showEndDateInput.value === 'false'; else editEndDateInput">

          <ng-container *ngIf="task.end_date; else noEndDateTemplate">
            {{task?.end_date | date: 'd MMM, y H:mm'}}
          </ng-container>

          <ng-template #noEndDateTemplate>
            <mat-icon>event_available</mat-icon>
          </ng-template>

        </ng-container>

        <ng-template #editEndDateInput>
          <input [ngClass]="classes.input"
                 type="date"
                 #endDate
                 (change)="updateTaskId(task.id,task.status,'end_date',endDate.value);
                  showEndDateInput.value='false';
                  endDateSelector.innerText = toDate(endDate.value)"/>
        </ng-template>
      </td>
      <!-- Task End Date END-->

      <!-- Task Action Buttons START -->
      <td class="w-[50px] max-w-[50px] border-l dark:border-gray-600">
        <button class="text-gray-500 cursor-pointer text-[#a05e5e]"
                (click)="openDeleteTaskModal(task)"
                mat-raised-button
                matTooltip="Delete Task"
                matTooltipPosition="above"
                matTooltipHideDelay="150">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
      <!-- Task Action Buttons END -->

    </tr>
    <!--Table Body Row END-->

    </tbody>

  </table>

</section>
<!--Tasks List Table -->

<!-- Add New Task Form & Button -->
<section class="mx-5 flex" [ngClass]="{'justify-end':!showAddToDoTaskForm}">

  <!-- Add task Form -->
  <ng-container *ngIf="showAddToDoTaskForm">

    <form [@fadeInOut]
          class="w-full my-2 flex flex-wrap items-center dark:border-gray-300 shadow-sm dark:shadow-gray-300"
          (ngSubmit)="addTaskFormHandler(addTaskFrom)"
          #addTaskFrom="ngForm" ngForm>
      <!-- Task Title Input -->
      <div class="w-full border-r md:w-[35%] md:border-r dark:border-gray-300">
        <input [ngClass]="classes.input"
               type="text"
               placeholder="Task Title..."
               name="title"
               #title="ngModel"
               minlength="5"
               maxlength="145"
               required
               ngModel/>
      </div>
      <!-- Task Title Input -->

      <!-- Task Status -->
      <div class="w-full border-r md:w-[13%] flex mx-auto">

        <select [ngClass]="classes.input"
                name="status"
                #status="ngModel"
                ngModel>
          <option value="">Status</option>
          <option value="{{status}}"
                  *ngFor="let status of taskStatuses">
            {{status}}
          </option>
        </select>

      </div>
      <!-- Task Status -->

      <!-- Task Priority -->
      <div class="w-full border-r md:w-[13%] flex mx-auto">

        <select [ngClass]="classes.input"
                name="priority"
                #priority="ngModel"
                ngModel>
          <option value="">Priority</option>
          <option value="{{priority}}"
                  *ngFor="let priority of taskPriority">
            {{priority}}
          </option>
        </select>

      </div>
      <!-- Task Priority -->

      <!-- Task Start Date Input -->
      <div class="w-full md:w-[13%] border-r dark:border-gray-300">
        <input [ngClass]="classes.input"
               type="date"
               name="start_date"
               #start_date="ngModel"
               ngModel>
      </div>
      <!-- Task Start Date Input -->

      <!-- Task End Date Input -->
      <div class="w-full md:w-[13%] border-r dark:border-gray-300">
        <input [ngClass]="classes.input"
               type="date"
               name="end_date"
               #end_date="ngModel"
               ngModel>
      </div>
      <!-- Task End Date Input -->

      <!-- Task Action Buttons -->
      <div class="w-full md:w-[13%] flex justify-center dark:border-gray-300">

        <button type="submit" (click)="addTaskFormHandler(addTaskFrom);showAddToDoTaskForm = false"
                class="text-green-600 md:mr-2">
          <mat-icon>add_task</mat-icon>
        </button>

        <button type="button" (click)="showAddToDoTaskForm = false"
                class="text-[#a05e5e] ">
          <mat-icon>cancel</mat-icon>
        </button>

      </div>
      <!-- Task Action Buttons -->

    </form>

  </ng-container>
  <!-- Add task Form -->

  <button [@fadeInOut] class="hidden md:block whitespace-nowrap my-2 px-3 py-2.5 border"
          *ngIf="!showAddToDoTaskForm"
          (click)="showAddToDoTaskForm = true">
    Add Task
  </button>

</section>
<!-- Add New Task Form & Button -->

<!-- Add Task Button -->
<div *ngIf="!showAddToDoTaskForm"
     class="md:hidden z-40 cursor-pointer md:py-2 md:px-3 border bg-gray-700 hover:bg-gray-800 fixed bottom-20 md:bottom-10 right-4 rounded-full md:rounded-md  active:bg-gray-900 ">

  <span (click)="showAddToDoTaskForm=true" class="hidden md:block">Add Task</span>

  <span *ngIf="!showAddTaskModalForm" (click)="showAddTaskModal();showAddTaskModalForm=true" class="block md:hidden ">
    <mat-icon [style]="'width:54px; height:45px;'"
              class="text-[50px] pt-[2px] pl-[2px] font-extrabold">add</mat-icon>
  </span>

</div>
<!-- Add Task Button -->
