<app-page-title [title]="'About'"></app-page-title>
<section class="p-5 text-center">
  <h1>About us info</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam delectus fuga illo minima molestias nemo odit officiis possimus reprehenderit? Earum eligendi est iusto laborum molestiae nulla quae reiciendis rem voluptates!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam delectus fuga illo minima molestias nemo odit officiis possimus reprehenderit? Earum eligendi est iusto laborum molestiae nulla quae reiciendis rem voluptates!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam delectus fuga illo minima molestias nemo odit officiis possimus reprehenderit? Earum eligendi est iusto laborum molestiae nulla quae reiciendis rem voluptates!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam delectus fuga illo minima molestias nemo odit officiis possimus reprehenderit? Earum eligendi est iusto laborum molestiae nulla quae reiciendis rem voluptates!</p>
</section>
