<ng-container *ngIf="(activeGoal$|async) as goal;">

  <article class="bg-white dark:bg-gray-800 relative p-4 mx-1 mt-[75px] md:mt-[93px] md:m-5 md:p-5 border rounded">

    <!-- Goal Details -->
    <section [@fadeGoalInOut] *ngIf="!editGoal">

      <!-- Edit Goal Icon -->
      <div class="absolute top-3 right-3">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Goal menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="editGoal=true" mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button (click)="deleteGoal(goal.id)" mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>

      </div>
      <!-- Edit Goal Icon -->

      <!-- Goal TITLE -->
      <h1 class="dark:c-text-dark mt-5 md:mt-0 text-[25px] md:text-3xl font-bold tracking-tight">
        <span class="dark:text-orange-200">🏆 GOAL: </span>{{goal.title}}
      </h1>
      <!-- Goal TITLE -->

      <!-- Goal Dates & Category -->
      <section class="mt-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">

        <div>

          <p class="flex whitespace-nowrap gap-3 py-1">
            <mat-icon>label_important</mat-icon>
            Category: {{goal.category}}
          </p>

          <p class="flex whitespace-nowrap gap-3 py-1">
            <mat-icon>donut_large</mat-icon>
            Progress:
            <span [ngClass]="{
            'text-rose-500':goal.progress <= 33,
            'text-orange-500':goal.progress <= 66 && goal.progress > 33,
            'text-green-500':goal.progress > 66
            }" >
              {{(goal.progress).toFixed(2)}}%
            </span>
          </p>

          <div class="flex whitespace-nowrap gap-3 py-1">
            <mat-icon>my_location</mat-icon>
          <span>Targets:</span>

          <div class="flex gap-3">
            <span class="text-sm px-3 flex justify-center items-center border rounded-full">
            <mat-icon class="text-sm">done</mat-icon>
            {{goal.totalCompletedTargets}} of {{goal.totalTargets}}
            </span>
          </div>

          </div>

        </div>

        <div>

          <p class="flex whitespace-nowrap gap-3 py-1">
            <mat-icon>calendar_today</mat-icon>
            Started: {{goal.start_date | date: 'MMM d, y' }}
          </p>

          <p class="flex whitespace-nowrap gap-3 py-1">
            <mat-icon>event</mat-icon>
            Deadline: {{goal.due_date | date: 'MMM d, y' }}
          </p>

          <p class="flex whitespace-nowrap gap-3 py-1">
            <mat-icon>schedule</mat-icon>
            <ng-container *ngIf="daysLeft == 'Overdue'; else daysLeftTemplate">
              <span class="text-rose-300">Overdue</span>
            </ng-container>
            <ng-template #daysLeftTemplate>
              <span>Days Left: <strong>{{daysLeft}}</strong></span>
            </ng-template>
          </p>

        </div>

      </section>
      <!-- Goal Dates & Category -->

      <!-- Goal Progress & Days Left -->
      <section class="my-8 flex flex-wrap md:flex-nowrap gap-3 justify-start md:justify-center items-center">

        <!--Progress bar -->
        <div class="w-[100%] border dark:border-gray-200 bg-gray-50 dark:bg-gray-600">
          <div class="text-center py-1 text-gray-900 dark:text-gray-300"
               [ngClass]="{
            'bg-rose-600':goal.progress <= 33,
            'bg-orange-600':goal.progress <= 66 && goal.progress > 33,
            'bg-green-600':goal.progress > 66
            }"
               [style]="'width:'+(goal.progress).toFixed(2)+'%'">{{(goal.progress).toFixed(2)}}%
          </div>
        </div>
        <!--Progress bar -->

        <!-- TODO: calculate days left -->
        <div class="p-[0.30rem] whitespace-nowrap flex gap-1 items-center border">

          <p class="flex gap-1 justify-center items-center">
            <mat-icon class="text-[24px]">playlist_add_check</mat-icon>
            Today's target: <strong>{{dailyTarget}}%</strong>
            <span class="text-sm"> /Day</span>
          </p>

        </div>

      </section>
      <!-- Goal Progress & Days Left -->


      <!-- HTML Description -->
      <h3 class="flex text-xl font-bold border-b mb-3">
        <mat-icon>description</mat-icon> Goal Description
      </h3>
      <div [innerHTML]="goal.description"></div>
      <!-- HTML Description -->

    </section>
    <!-- Goal Details -->


    <!-- textAngular Editor -->

    <!-- textAngular Editor -->

    <!-- TODO: Reactive Form With Rich Text Editor  -->
<!--    <form (ngSubmit)="richEditHandler(richEditGoalForm)"  #richEditGoalForm="ngForm">-->

<!--      <angular-editor [name]="'description'" [(ngModel)]="goal.description" [config]="config"></angular-editor>-->

<!--      <button type="submit">Update</button>-->

<!--    </form>-->
    <!-- TODO: Reactive Form With Rich Text Editor -->


    <!-- Edit Goal Form -->
    <form *ngIf="editGoal" [@fadeInOut] (ngSubmit)="editGoalFormHandler(editGoalForm)"
          #editGoalForm="ngForm"
          class="bg-white dark:bg-gray-800 mt-5 space-y-6 md:shadow md:p-10 md:rounded-lg
            dark:shadow-gray-500">

      <input type="hidden" [ngModel]="goal.id" name="id" ngModel>

      <!-- Goal Title Input-->
      <div>
        <label class="text-color-light dark:text-color-dark">Goal Title:</label>
        <div class="flex align-center border border-slate-600 rounded">
          <input class="w-full py-2 px-3 dark:bg-gray-800 dark:focus:bg-gray-900 dark:active:bg-gray-700"
                 type="text"
                 name="title"
                 #title="ngModel"
                 placeholder="Title..."
                 minlength="5"
                 required
                 [ngModel]="goal.title"
          />
        </div>
        <!-- Title Error messages -->
        <ng-container *ngIf="title.touched">
            <span *ngIf="title.errors?.['required']"
                  class="text-sm text-red-600">
              Please enter Title!
            </span>
          <span *ngIf="title.errors?.['minlength']"
                class="text-sm text-red-600">
              The goal title must be at least 5 characters long!
            </span>
        </ng-container>
        <!-- Title Error messages -->

      </div>
      <!-- Goal Title Input-->

      <!-- Start & Due Date Container-->
      <section class="flex flex-wrap">

        <!-- Start Date -->
        <div class="text-sm w-full md:w-1/2">
          <label class="text-color-light dark:text-color-dark">Start Date:</label>

          <div class="flex align-center border border-slate-600 rounded">
            <input class="w-full py-2 px-3 dark:bg-gray-800 dark:focus:bg-gray-900 dark:active:bg-gray-700"
                   type="date"
                   name="start_date"
                   #start_date="ngModel"
                   [ngModel]="dateFn.dateToInputDate(goal.start_date)"/>
          </div>

        </div>
        <!-- Start Date -->

        <!-- Goal Due Date -->
        <div class="text-sm w-full md:w-1/2">
          <label class="text-color-light dark:text-color-dark">Due Date:</label>

          <div class="flex align-center border border-slate-600 rounded">
            <input class="w-full py-2 px-3 dark:bg-gray-800 dark:focus:bg-gray-900 dark:active:bg-gray-700"
                   type="date"
                   name="due_date"
                   #due_date="ngModel"
                   [ngModel]="dateFn.dateToInputDate(goal.due_date)"/>
          </div>

        </div>
        <!-- Goal Due Date -->

      </section>
      <!-- Start & Due Date Container-->

      <!-- Goal Description Input Container-->
      <div>
        <div class="flex align-center border border-slate-600 rounded">

          <app-rich-text-editor class="w-full" (html)="getHtml($event)" [defaultText]="goal.description" ></app-rich-text-editor>
<!--            <textarea-->
<!--              class="w-full min-h-[175px] py-2 px-3 dark:bg-gray-800 dark:focus:bg-gray-900 dark:active:bg-gray-700"-->
<!--              name="description"-->
<!--              #description="ngModel"-->
<!--              placeholder="Goal Description..."-->
<!--              required-->
<!--              [ngModel]="goal.description"></textarea>-->
        </div>
        <!-- Error messages -->
<!--        <ng-container *ngIf="title.touched">-->
<!--            <span *ngIf="description.errors?.['required']"-->
<!--                  class="text-sm text-red-600">-->
<!--              Description can not be empty!-->
<!--            </span>-->
<!--        </ng-container>-->

      </div>
      <!-- Goal Description Input Container-->

      <!-- Save Button -->
      <div>

        <button type="submit" class="relative btn-primary dark:btn-primary-dark">
          Save Changes
        </button>

        <button class="py-2 px-3 ml-3 border shadow dark:shadow-gray-300 rounded dark:active:bg-gray-700"
                type="button"
                (click)="editGoal=false">
          Cancel
        </button>

      </div>
      <!-- Save Button -->

    </form>
    <!-- Edit Goal Form -->

  </article>
  <!-- Goal Details -->

  <!-- Targets -->
  <section class="md:m-5">

    <app-targets-list (onTargetEvents)="onTargetEvent($event,goal)" [goalId]="goal.id" [dailyTarget]="dailyTarget"></app-targets-list>

  </section>
  <!-- Targets -->

</ng-container>

<!--TODO: when wrong ID or not exist show this or page not found? -->
<!--<ng-template #noGoal>-->
<!--  <h2 class="my-5 text-center text-2xl">No Goal Found! 🤷‍♂️</h2>-->
<!--</ng-template>-->
