<button class="hidden md:block px-3" (click)="openSidenav=!openSidenav" >
  <mat-icon class="text-[30px]">menu</mat-icon>
</button>

<!-- Public Nav Links -->
<app-nav-links class="hidden md:block" [navLinks]="privateNavLinks"></app-nav-links>
<!-- Public Nav Links -->

<div class="md:hidden">

  <!-- Dark/Light Mode Button -->
  <button (click)="toggleDarkMode()" [ngClass]="classes.icon">
    <span class="sr-only">Dark/Light Mode</span>
    <mat-icon>{{darkMode ? 'nightlight' : 'light_mode'}}</mat-icon>

  </button>

  <span (click)="openSidenav=!openSidenav">
    <mat-icon class="text-[30px]">menu</mat-icon>
  </span>

</div>

<div class="hidden md:block">

  <div class="ml-4 flex items-center md:ml-6">

    <!-- Dark/Light Mode Button -->
    <button (click)="toggleDarkMode()" [ngClass]="classes.icon">
      <span class="sr-only">Dark/Light Mode</span>
      <mat-icon>{{darkMode ? 'nightlight' : 'light_mode'}}</mat-icon>

    </button>

    <!-- Notification Dropdown Button -->
    <button type="button" [ngClass]="classes.icon">
      <span class="sr-only">View notifications</span>
      <mat-icon>notifications</mat-icon>
    </button>

    <!-- Avatar Dropdown Button -->
    <div class="relative ml-3">
      <div>
        <button mat-button [matMenuTriggerFor]="beforeMenu"
                type="button"
                class="flex max-w-xs items-center rounded-full bg-gray-800 text-sm outline-none ring-2 ring-white ring-offset-2 ring-offset-gray-800">
          <span class="sr-only">Open user menu</span>
          <img class="h-8 w-8 rounded-full"
               src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
               alt="">
        </button>
      </div>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button routerLink="profile" mat-menu-item>Profile</button>
        <button routerLink="profile/edit" mat-menu-item>Edit Profile</button>
        <button routerLink="settings" mat-menu-item>Settings</button>
        <button routerLink="logout" mat-menu-item>Logout</button>
      </mat-menu>
    </div>

  </div>

</div>

<!-- Sidenav -->
<section [ngClass]="openSidenav ? 'sidenav-open' : 'sidenav-closed'"
         class="p-0 z-50 w-1/2 md:w-48 overflow-y-auto h-screen container-light dark:bg-[#0b1727] fixed top-0 right-0 md:left-0 shadow-lg">

  <span (click)="openSidenav=!openSidenav" class="absolute top-2 right-2 cursor-pointer">
    <mat-icon class="text-[24px]">close</mat-icon>
  </span>

  <ul class="my-8">

    <li>
      <h4 class="mx-1 text-sm uppercase font-extrabold text-gray-500">My Work</h4>

      <nav>
        <a [routerLink]="'agenda'" (click)="openSidenav=!openSidenav"
           class="text-sm dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
          Agenda
        </a>
        <a [routerLink]="'calendar'" (click)="openSidenav=!openSidenav"
           class="text-sm dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
          Calendar
        </a>
      </nav>
    </li>

    <li>
      <h4 class="mx-1 text-sm uppercase font-extrabold text-gray-500">Projects</h4>

      <nav>

        <a [routerLink]="'goalsapp'" (click)="openSidenav=!openSidenav"
           class="text-sm dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
          Goals App
        </a>

        <a [routerLink]="'revshare'" (click)="openSidenav=!openSidenav"
           class="text-sm dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
          Rev Share
        </a>

        <a [routerLink]="'revshare'" (click)="openSidenav=!openSidenav"
           class="text-sm dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
          Blog Site
        </a>

      </nav>
    </li>

    <li>
      <h4 class="mx-1 text-sm uppercase font-extrabold text-gray-500">Goals</h4>

      <nav>
        <a [routerLink]="'goals'" (click)="openSidenav=!openSidenav"
           class="text-sm dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">All</a>
        <a [routerLink]="'personal'" (click)="openSidenav=!openSidenav"
           class="text-sm dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">Personal</a>
        <a [routerLink]="'relationship'" (click)="openSidenav=!openSidenav"
           class="text-sm dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">Financial</a>
        <a [routerLink]="'financial'" (click)="openSidenav=!openSidenav"
           class="text-sm dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">Relationship</a>
        <a [routerLink]="'business'" (click)="openSidenav=!openSidenav"
           class="text-sm dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">Business</a>
        <a [routerLink]="'other'" (click)="openSidenav=!openSidenav"
           class="text-sm dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">Other</a>
      </nav>
    </li>

  </ul>

</section>
<!-- Sidenav -->
