<button class="hidden md:block px-3" (click)="openSidenav=!openSidenav" >
  <mat-icon class="text-[30px]">menu</mat-icon>
</button>

<!-- BACK BUTTON -->
<button (click)="goBack()"
        class="md:hidden flex items-center dark:hover:bg-gray-800 cursor-pointer">
  <mat-icon>arrow_back_ios_new</mat-icon>
</button>
<!-- BACK BUTTON -->

<!-- Private Nav Links -->
<app-nav-links class="hidden md:block" [navLinks]="privateNavLinks"></app-nav-links>
<!-- Private Nav Links -->

<div class="md:hidden">

  <!-- Dark/Light Mode Button -->
  <button (click)="toggleDarkMode()" [ngClass]="classes.icon">
    <span class="sr-only">Dark/Light Mode</span>
    <mat-icon>{{darkMode ? 'nightlight' : 'light_mode'}}</mat-icon>

  </button>

  <span (click)="openSidenav=!openSidenav">
    <mat-icon class="text-[30px]">menu</mat-icon>
  </span>

</div>

<div class="hidden md:block">

  <div class="ml-4 flex items-center md:ml-6">

    <!-- Dark/Light Mode Button -->
    <button (click)="toggleDarkMode()" [ngClass]="classes.icon">
      <span class="sr-only">Dark/Light Mode</span>
      <mat-icon>{{darkMode ? 'nightlight' : 'light_mode'}}</mat-icon>

    </button>

    <!-- Notification Dropdown Button -->
    <button type="button" [ngClass]="classes.icon">
      <span class="sr-only">View notifications</span>
      <mat-icon>notifications</mat-icon>
    </button>

    <!-- Avatar Dropdown Button -->
    <div class="relative ml-3">
      <div>
        <button mat-button [matMenuTriggerFor]="beforeMenu"
                type="button"
                class="flex max-w-xs items-center rounded-full bg-gray-800 text-sm outline-none ring-2 ring-white ring-offset-2 ring-offset-gray-800">
          <span class="sr-only">Open user menu</span>
          <img class="h-8 w-8 rounded-full"
               src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
               alt="">
        </button>
      </div>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button routerLink="profile" mat-menu-item>Profile</button>
        <button routerLink="profile/edit" mat-menu-item>Edit Profile</button>
        <button routerLink="settings" mat-menu-item>Settings</button>
        <button routerLink="logout" mat-menu-item>Logout</button>
      </mat-menu>
    </div>

  </div>

</div>

<!-- Sidenav -->
<div class="bg-sidenav-open z-50 fixed top-0"
     (click)="toggleSidenav()"
     [ngClass]="openSidenav ? 'bg-sidenav-open' : 'bg-sidenav-hidden'">

  <section [ngClass]="openSidenav ? 'sidenav-open' : 'sidenav-closed'"
           class="p-0 z-50 w-1/2 sm:w-48 overflow-y-auto h-screen container-light dark:bg-[#0b1727] fixed top-0 right-0 md:left-0 shadow-lg">

  <button class="absolute top-2 right-2" >
    <mat-icon class="text-[24px]">close</mat-icon>
  </button>

    <ul class="my-8">

      <!-- MY WORK -->
      <li>
        <h4 class="mx-1 text-sm uppercase font-extrabold text-gray-500">My Work</h4>
        <nav>
          <a [routerLink]="'agenda'"
             class="text-sm flex dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
            <mat-icon [style]="'font-size:21px'">star</mat-icon>
            Favorite
          </a>
          <a [routerLink]="'calendar'"
             class="text-sm flex dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
            <mat-icon [style]="'font-size:21px'">calendar_month</mat-icon>
            Calendar
          </a>
          <a [routerLink]="'agenda'"
             class="text-sm flex dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
            <mat-icon [style]="'font-size:21px'">tips_and_updates</mat-icon>
            Ideas
          </a>
        </nav>
      </li>
      <!-- MY WORK -->

      <!-- GOALS -->
      <li>
        <h4 class="mx-1 text-sm uppercase font-extrabold text-gray-500">Goals</h4>
        <nav>
          <a [routerLink]="'goals'"
             class="text-sm flex dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
            <mat-icon [style]="'font-size:21px;'">apps</mat-icon>
            All
          </a>
          <a [routerLink]="'personal'"
             class="text-sm flex dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
            <mat-icon [style]="'font-size:21px;'">self_improvement</mat-icon>
            Personal
          </a>
          <a [routerLink]="'personal'"
             class="text-sm flex dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
            <mat-icon [style]="'font-size:21px;'">fitness_center</mat-icon>
            Health
          </a>
          <a [routerLink]="'personal'"
             class="text-sm flex dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
            <mat-icon [style]="'font-size:21px;'">spa</mat-icon>
            Spiritual
          </a>
          <a [routerLink]="'personal'"
             class="text-sm flex dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
            <mat-icon [style]="'font-size:21px;'">school</mat-icon>
            Educational
          </a>
          <a [routerLink]="'relationship'"
             class="text-sm flex dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
            <mat-icon [style]="'font-size:21px;'">work</mat-icon>
            Career
          </a>
          <a [routerLink]="'relationship'"
             class="text-sm flex dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
            <mat-icon [style]="'font-size:21px;'">monetization_on</mat-icon>
            Financial
          </a>
          <a [routerLink]="'business'"
             class="text-sm flex dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
            <mat-icon [style]="'font-size:21px;'">insights</mat-icon>
            Business
          </a>
          <a [routerLink]="'financial'"
             class="text-sm flex dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
            <mat-icon [style]="'font-size:21px;'">volunteer_activism</mat-icon>
            Relationship
          </a>
          <a [routerLink]="'other'"
             class="text-sm flex dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
            <mat-icon [style]="'font-size:21px;'">person</mat-icon>
            Other
          </a>
        </nav>
      </li>
      <!-- GOALS -->

      <!-- PROJECTS -->
      <li>
        <h4 class="mx-1 text-sm uppercase font-extrabold text-gray-500">Projects</h4>
        <nav>

          <a [routerLink]="'goalsapp'"
             class="text-sm flex dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
            <mat-icon [style]="'font-size:21px;'">looks_one</mat-icon>
            Goals App
          </a>

          <a [routerLink]="'revshare'"
             class="text-sm flex dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
            <mat-icon [style]="'font-size:21px;'">looks_two</mat-icon>
            Rev Share
          </a>

          <a [routerLink]="'revshare'"
             class="text-sm flex dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
            <mat-icon [style]="'font-size:21px;'">looks_3</mat-icon>
            Blog Site
          </a>

          <a [routerLink]="'revshare'"
             class="text-sm flex dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
            <mat-icon [style]="'font-size:21px;'">looks_4</mat-icon>
            LRM System
          </a>

        </nav>
      </li>
      <!-- PROJECTS -->

      <!-- OTHER -->
      <li>
        <h4 class="mx-1 text-sm uppercase font-extrabold text-gray-500">Other</h4>
        <nav>
          <a [routerLink]="'agenda'"
             class="text-sm flex dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
            <mat-icon [style]="'font-size:21px'">settings</mat-icon>
            Settings
          </a>
          <a [routerLink]="'calendar'"
             class="text-sm flex dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
            <mat-icon [style]="'font-size:21px'">history</mat-icon>
            History
          </a>
          <a [routerLink]="'calendar'"
             class="text-sm flex dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
            <mat-icon [style]="'font-size:21px'">auto_delete</mat-icon>
            Trash
          </a>
          <a [routerLink]="'logout'"
             class="text-sm flex dark:hover:text-gray-100 m-2 py-2 px-3 block hover:bg-gray-100 active:bg-gray-200 dark:bg-[#0b1727] dark:hover:bg-gray-700 dark:active:bg-gray-800 transition ease-in-out duration-300 rounded-md">
            <mat-icon [style]="'font-size:21px'">logout</mat-icon>
            Logout
          </a>
        </nav>
      </li>
      <!-- OTHER -->

    </ul>

  </section>

</div>
<!-- Sidenav -->

