<section class="h-[90vh] bg-white dark:bg-gray-900 overflow-auto">

  <!-- Week Day Names -->
  <section class="pt-2 ml-[3px] flex sticky top-0 z-30 dark:bg-gray-900 border-b dark:border-gray-600">

    <div class="w-[70px]"></div>

    <div class="px-5 w-[14%] border-l dark:border-gray-600">
      <h4 class="text-sm md:text-lg">{{days[getDayName(today.getDay())]}}</h4>
      <p class="text-[10px] md:text-sm">{{today.getDate()}} {{months[today.getMonth()]}}</p>
    </div>

    <div class="px-5 w-[14%] border-l dark:border-gray-600">
      <h4 class="text-sm md:text-lg">{{days[getDayName(today.getDay() + 1)]}}</h4>
      <p class="text-[10px] md:text-sm">{{getDateAndMonth(today.getDate(),1)}}</p>
    </div>

    <div class="px-5 w-[14%] border-l dark:border-gray-600">
      <h4 class="text-sm md:text-lg">{{days[getDayName(today.getDay() + 2)]}}</h4>
      <p class="text-[10px] md:text-sm">{{getDateAndMonth(today.getDate(),2)}}</p>
    </div>

    <div class="px-5 w-[14%] border-l dark:border-gray-600">
      <h4 class="text-sm md:text-lg">{{days[getDayName(today.getDay() + 3)]}}</h4>
      <p class="text-[10px] md:text-sm">{{getDateAndMonth(today.getDate(),3)}}</p>
    </div>

    <div class="px-5 w-[14%] border-l dark:border-gray-600">
      <h4 class="text-sm md:text-lg">{{days[getDayName(today.getDay() + 4)]}}</h4>
      <p class="text-[10px] md:text-sm">{{getDateAndMonth(today.getDate(),4)}}</p>
    </div>

    <div class="px-5 w-[14%] border-l dark:border-gray-600">
      <h4 class="text-sm md:text-lg">{{days[getDayName(today.getDay() + 5)]}}</h4>
      <p class="text-[10px] md:text-sm">{{getDateAndMonth(today.getDate(),5)}}</p>
    </div>

    <div class="px-5 w-[14%] border-l dark:border-gray-600">
      <h4 class="text-sm md:text-lg">{{days[getDayName(today.getDay() + 6)]}}</h4>
      <p class="text-[10px] md:text-sm">{{getDateAndMonth(today.getDate(), 6)}}</p>
    </div>

  </section>
  <!-- Week Day Names -->

  <section class="flex ">

    <!-- Left Side Hours -->
    <div class="w-[70px] h-[100%] border-r dark:border-gray-600">

      <!-- Hours -->
      <div class="w-[70px] h-[60px] flex justify-center text-sm relative"
           *ngFor="let hour of times">

        <span>{{hour}}</span>

      </div>
      <!-- Hours -->

    </div>
    <!-- Left Side Hours -->

    <!-- Monday Tasks By Hour -->
    <div class="w-[14%] relative border-r dark:border-gray-600">

      <!-- Add Task Per Hour -->
      <div *ngFor="let hour of times" class="h-[60px] border-b dark:border-gray-600">

        <div class="cursor-pointer h-[30px] hover:bg-gray-100 dark:hover:bg-gray-800"></div>
        <div class="cursor-pointer h-[30px] hover:bg-gray-100 dark:hover:bg-gray-800"></div>

      </div>
      <!-- Add Task Per Hour -->

      <!-- Hour Now -->
      <div class="flex items-center absolute left-[-58px] z-20" [style]="'top:'+lineTopPx">
        <span class="px-2 text-orange-900 bg-orange-400 rounded-lg">{{hourNow}}</span>
      </div>
      <!-- Hour Now -->

      <!-- Hour Now Line -->
      <div class="my-3 flex items-center absolute w-full z-20" [style]="'top:'+lineTopPx">
        <span class="h-[1px] w-[19vw] bg-orange-400"></span>
      </div>
      <!-- Hour Now Line -->

      <!-- Today Tasks By Hour -->
      <div class="absolute z-10 w-[100%] mx-[1px]"
           *ngFor="let task of todayTasks$ | async"
           [style]="'top:'+calculateTopPx(task)+'px;'">

        <ng-container *ngIf="calculateTaskHeight(task)">
          <p [style]="'height:'+calculateTaskHeight(task)+'px'"
             class="p-1 text-sm text-ellipsis overflow-hidden ... bg-gray-800 hover:bg-gray-700 border rounded">

              <span class="cursor-pointer hidden md:inline-block"
                    (click)="openViewTaskModal(task)">{{task.title}}</span>
            <span class="cursor-pointer inline-block md:hidden"
                  [routerLink]="['/tasks',task.id]">{{task.title}}</span>
            <span class="absolute text-[10px] bottom-0 right-1">{{task.start_date | taskTime: task.end_date}}</span>

          </p>
        </ng-container>

      </div>
      <!-- Today Tasks By Hour -->

    </div>
    <!-- Monday Tasks By Hour -->

    <!-- Tuesday Tasks By Hour -->
    <div class="w-[14%] relative border-r dark:border-gray-600">

      <!-- Task Per Hour -->
      <div *ngFor="let hour of times" class="h-[60px] border-b dark:border-gray-600">

        <div class="cursor-pointer h-[30px] hover:bg-gray-100 dark:hover:bg-gray-800"></div>
        <div class="cursor-pointer h-[30px] hover:bg-gray-100 dark:hover:bg-gray-800"></div>

      </div>
      <!-- Task Per Hour -->

      <!-- Hour Now Line -->
      <div class="my-3 flex items-center absolute w-[100%] z-20" [style]="'top:'+lineTopPx">

        <span class="h-[1px] w-[82vw] lg:w-[36vw] bg-orange-400"></span>

      </div>
      <!-- Hour Now Line -->

      <!-- Second Day Tasks By Hour -->
      <div class="absolute z-10 w-[100%] mx-[1px]"
           *ngFor="let task of secondDay"
           [style]="'top:'+calculateTopPx(task)+'px;'">

        <ng-container *ngIf="calculateTaskHeight(task)">
          <p [style]="'height:'+calculateTaskHeight(task)+'px'"
             class="p-1 text-sm text-ellipsis overflow-hidden ... bg-gray-800 hover:bg-gray-700 border rounded">

              <span class="cursor-pointer hidden md:inline-block"
                    (click)="openViewTaskModal(task)">{{task.title}}</span>
            <span class="cursor-pointer inline-block md:hidden"
                  [routerLink]="['/tasks',task.id]">{{task.title}}</span>
            <span class="absolute text-[10px] bottom-0 right-1">{{task.start_date | taskTime: task.end_date}}</span>

          </p>
        </ng-container>

      </div>
      <!-- Second Day Tasks By Hour -->

    </div>
    <!-- Tuesday Tasks By Hour -->

    <!-- Wednesday Tasks By Hour -->
    <div class="w-[14%] relative border-r dark:border-gray-600">

      <!-- Task Per Hour -->
      <div *ngFor="let hour of times" class="h-[60px] border-b dark:border-gray-600">

        <div class="cursor-pointer h-[30px] hover:bg-gray-100 dark:hover:bg-gray-800"></div>
        <div class="cursor-pointer h-[30px] hover:bg-gray-100 dark:hover:bg-gray-800"></div>

      </div>
      <!-- Task Per Hour -->

      <!-- Hour Now Line -->
      <div class="my-3 flex items-center absolute w-full z-20" [style]="'top:'+lineTopPx">

        <span class="h-[1px] w-[82vw] lg:w-[36vw] bg-orange-400"></span>

      </div>
      <!-- Hour Now Line -->

      <!-- Third Day Tasks By Hour -->
      <div class="absolute z-10 w-[100%] mx-[1px]"
           *ngFor="let task of thirdDay"
           [style]="'top:'+calculateTopPx(task)+'px;'">

        <ng-container *ngIf="calculateTaskHeight(task)">
          <p [style]="'height:'+calculateTaskHeight(task)+'px'"
             class="p-1 text-sm text-ellipsis overflow-hidden ... bg-gray-800 hover:bg-gray-700 border rounded">

              <span class="cursor-pointer hidden md:inline-block"
                    (click)="openViewTaskModal(task)">{{task.title}}</span>
            <span class="cursor-pointer inline-block md:hidden"
                  [routerLink]="['/tasks',task.id]">{{task.title}}</span>
            <span class="absolute text-[10px] bottom-0 right-1">{{task.start_date | taskTime: task.end_date}}</span>

          </p>
        </ng-container>

      </div>
      <!-- Third Day Tasks By Hour -->

    </div>
    <!-- Wednesday Tasks By Hour -->

    <!-- Thursday Tasks By Hour -->
    <div class="w-[14%] relative border-r dark:border-gray-600">

      <!-- Task Per Hour -->
      <div *ngFor="let hour of times" class="h-[60px] border-b dark:border-gray-600">

        <div class="cursor-pointer h-[30px] hover:bg-gray-100 dark:hover:bg-gray-800"></div>
        <div class="cursor-pointer h-[30px] hover:bg-gray-100 dark:hover:bg-gray-800"></div>

      </div>
      <!-- Task Per Hour -->

      <!-- Hour Now Line -->
      <div class="my-3 flex items-center absolute w-full z-20" [style]="'top:'+lineTopPx">

        <span class="h-[1px] w-[82vw] lg:w-[36vw] bg-orange-400"></span>

      </div>
      <!-- Hour Now Line -->

      <!-- Third Day Tasks By Hour -->
      <div class="absolute z-10 w-[100%] mx-[1px]"
           *ngFor="let task of fourthDay"
           [style]="'top:'+calculateTopPx(task)+'px;'">

        <ng-container *ngIf="calculateTaskHeight(task)">
          <p [style]="'height:'+calculateTaskHeight(task)+'px'"
             class="p-1 text-sm text-ellipsis overflow-hidden ... bg-gray-800 hover:bg-gray-700 border rounded">

              <span class="cursor-pointer hidden md:inline-block"
                    (click)="openViewTaskModal(task)">{{task.title}}</span>
            <span class="cursor-pointer inline-block md:hidden"
                  [routerLink]="['/tasks',task.id]">{{task.title}}</span>
            <span class="absolute text-[10px] bottom-0 right-1">{{task.start_date | taskTime: task.end_date}}</span>

          </p>
        </ng-container>

      </div>
      <!-- Third Day Tasks By Hour -->

    </div>
    <!-- Thursday Tasks By Hour -->

    <!-- Friday Tasks By Hour -->
    <div class="w-[14%] relative border-r dark:border-gray-600">

      <!-- Task Per Hour -->
      <div *ngFor="let hour of times" class="h-[60px] border-b dark:border-gray-600">

        <div class="cursor-pointer h-[30px] hover:bg-gray-100 dark:hover:bg-gray-800"></div>
        <div class="cursor-pointer h-[30px] hover:bg-gray-100 dark:hover:bg-gray-800"></div>

      </div>
      <!-- Task Per Hour -->

      <!-- Hour Now Line -->
      <div class="my-3 flex items-center absolute w-full z-20" [style]="'top:'+lineTopPx">

        <span class="h-[1px] w-[82vw] lg:w-[36vw] bg-orange-400"></span>

      </div>
      <!-- Hour Now Line -->

      <!-- Fourth Day Tasks By Hour -->
      <div class="absolute z-10 w-[100%] mx-[1px]"
           *ngFor="let task of fifthDay"
           [style]="'top:'+calculateTopPx(task)+'px;'">

        <ng-container *ngIf="calculateTaskHeight(task)">
          <p [style]="'height:'+calculateTaskHeight(task)+'px'"
             class="p-1 text-sm text-ellipsis overflow-hidden ... bg-gray-800 hover:bg-gray-700 border rounded">

              <span class="cursor-pointer hidden md:inline-block"
                    (click)="openViewTaskModal(task)">{{task.title}}</span>
            <span class="cursor-pointer inline-block md:hidden"
                  [routerLink]="['/tasks',task.id]">{{task.title}}</span>
            <span class="absolute text-[10px] bottom-0 right-1">{{task.start_date | taskTime: task.end_date}}</span>

          </p>
        </ng-container>

      </div>
      <!-- Fourth Day Tasks By Hour -->

    </div>
    <!-- Friday Tasks By Hour -->

    <!-- Saturday Tasks By Hour -->
    <div class="w-[14%] relative border-r dark:border-gray-600">

      <!-- Task Per Hour -->
      <div *ngFor="let hour of times" class="h-[60px] border-b dark:border-gray-600">

        <div class="cursor-pointer h-[30px] hover:bg-gray-100 dark:hover:bg-gray-800"></div>
        <div class="cursor-pointer h-[30px] hover:bg-gray-100 dark:hover:bg-gray-800"></div>

      </div>
      <!-- Task Per Hour -->

      <!-- Hour Now Line -->
      <div class="my-3 flex items-center absolute w-full z-20" [style]="'top:'+lineTopPx">

        <span class="h-[1px] w-[82vw] lg:w-[36vw] bg-orange-400"></span>

      </div>
      <!-- Hour Now Line -->

      <!-- Fifth Day Tasks By Hour -->
      <div class="absolute z-10 w-[100%] mx-[1px]"
           *ngFor="let task of sixthDay"
           [style]="'top:'+calculateTopPx(task)+'px;'">

        <ng-container *ngIf="calculateTaskHeight(task)">
          <p [style]="'height:'+calculateTaskHeight(task)+'px'"
             class="p-1 text-sm text-ellipsis overflow-hidden ... bg-gray-800 hover:bg-gray-700 border rounded">

              <span class="cursor-pointer hidden md:inline-block"
                    (click)="openViewTaskModal(task)">{{task.title}}</span>
            <span class="cursor-pointer inline-block md:hidden"
                  [routerLink]="['/tasks',task.id]">{{task.title}}</span>
            <span class="absolute text-[10px] bottom-0 right-1">{{task.start_date | taskTime: task.end_date}}</span>

          </p>
        </ng-container>

      </div>
      <!-- Fifth Day Tasks By Hour -->

    </div>
    <!-- Saturday Tasks By Hour -->

    <!-- Sunday Tasks By Hour -->
    <div class="w-[14%] relative border-r dark:border-gray-600">

      <!-- Task Per Hour -->
      <div *ngFor="let hour of times" class="h-[60px] border-b dark:border-gray-600">

        <div class="cursor-pointer h-[30px] hover:bg-gray-100 dark:hover:bg-gray-800"></div>
        <div class="cursor-pointer h-[30px] hover:bg-gray-100 dark:hover:bg-gray-800"></div>

      </div>
      <!-- Task Per Hour -->

      <!-- Hour Now Line -->
      <div class="my-3 flex items-center absolute w-full z-20" [style]="'top:'+lineTopPx">

        <span class="h-[1px] w-[82vw] lg:w-[36vw] bg-orange-400"></span>

      </div>
      <!-- Hour Now Line -->

      <!-- Sixth Day Tasks By Hour -->
      <div class="absolute z-10 w-[100%] mx-[1px]"
           *ngFor="let task of seventhDay"
           [style]="'top:'+calculateTopPx(task)+'px;'">

        <ng-container *ngIf="calculateTaskHeight(task)">
          <p [style]="'height:'+calculateTaskHeight(task)+'px'"
             class="p-1 text-sm text-ellipsis overflow-hidden ... bg-gray-800 hover:bg-gray-700 border rounded">

              <span class="cursor-pointer hidden md:inline-block"
                    (click)="openViewTaskModal(task)">{{task.title}}</span>
            <span class="cursor-pointer inline-block md:hidden"
                  [routerLink]="['/tasks',task.id]">{{task.title}}</span>
            <span class="absolute text-[10px] bottom-0 right-1">{{task.start_date | taskTime: task.end_date}}</span>

          </p>
        </ng-container>

      </div>
      <!-- Sixth Day Tasks By Hour -->

    </div>
    <!-- Sunday Tasks By Hour -->

  </section>


</section>
