<form (ngSubmit)="addGoalFormHandler(addGoalForm)"
      #addGoalForm="ngForm"
      class="w-[96vw] md:w-[75vw] bg-white dark:bg-gray-800 space-y-2 md:space-y-6 shadow p-3 md:p-10 rounded-sm
            shadow-2xl dark:shadow dark:shadow-gray-500 overflow-hidden">

  <!-- Goal Title Input Container-->
  <div class="w-full">
    <div class="flex align-center border border-slate-600 rounded">
      <input [ngClass]="classes.input"
             type="text"
             name="title"
             #title="ngModel"
             placeholder="Goal Title..."
             minlength="5"
             maxlength="145"
             required
             ngModel/>
    </div>
    <!-- Error messages -->
    <ng-container *ngIf="title.touched">
            <span *ngIf="title.errors?.['required']"
                  class="text-sm text-red-600">
              Goal Title can not be empty!
            </span>
            <span *ngIf="title.errors?.['minlength']"
            class="text-sm text-red-600">
              Goal Title must be at least 5 characters long!
            </span>
      <span *ngIf="title.errors?.['maxlength']"
            class="text-sm text-red-600">
              Goal Title must be max 145 characters long!
            </span>
    </ng-container>

  </div>

  <!-- Goal Due Date -->
  <div class="w-full">

    <label class="text-gray-800 dark:text-gray-400">Due Date:</label>
    <div class="flex align-center border border-slate-600 rounded">
      <input [ngClass]="classes.input"
             type="date"
             name="due_date"
             #due_date="ngModel"
             required
             ngModel/>
    </div>
    <!-- Error messages -->
    <ng-container *ngIf="due_date.touched">
            <span *ngIf="due_date.errors?.['required']"
                  class="text-sm text-red-600">
              Goal Due Date can not be empty!
            </span>
    </ng-container>

  </div>
  <!-- Goal Due Date -->

  <!-- Goal description Input Container-->
  <div>
    <div class="flex align-center border border-slate-600 rounded">
            <textarea [ngClass]="classes.input"
                      class="w-full min-h-[175px] py-2 px-3 "
                      name="description"
                      #description="ngModel"
                      placeholder="Goal Description..."
                      minlength="5"
                      required
                      ngModel></textarea>
    </div>
    <!-- Error messages -->
    <ng-container *ngIf="description.touched">
            <span *ngIf="description.errors?.['required']"
                  class="text-sm text-red-600">
              Description can not be empty!
            </span>
    </ng-container>

  </div>
  <!-- Goal description Input Container-->

  <!-- Add Button -->
  <div class="flex gap-3">

    <button class="flex items-center relative btn-primary dark:btn-primary-dark" type="submit">
      <mat-icon>add</mat-icon>
      Add
    </button>

    <button class="px-3 py-2 dark:text-gray-500 hover:dark:text-gray-400 flex items-center relative border rounded-md"
            mat-dialog-close mat-icon-button>
      Cancel
    </button>

  </div>
  <!-- Add Button -->

</form>
