
<div class="py-8">

  <section class="px-8 py-10 bg-white dark:bg-gray-800 text-center w-4/5 md:w-1/2 lg:w-3/5 mx-auto rounded-lg shadow-lg">

    <h1 class=" dark:text-[#344050] text-7xl font-bold">404</h1>

    <h2 class=" dark:text-[#b6c1d2] pt-16 font-extrabold text-2xl text-center text-red-800">
      The page you're looking for is not found.
    </h2>

    <p class="mt-4 pb-16 text-center">
      Make sure the address is correct and that the page hasn't moved.
      If you think this is a mistake, <a [ngClass]="classes.link" routerLink="contact-us">contact us</a>.
    </p>
    <button routerLink="/home" class="btn-primary dark:btn-primary-dark">Back To Home</button>

  </section>


</div>

