<section class="container-light dark:container-dark w-[96vw] h-[90vh]">

  <!-- Status, Priority, Dates & Edit button -->
  <div class="flex justify-start border-b">

    <!-- Status & Priority -->
    <!-- TODO: add colors for status and priority depending on status and priority type green red orange -->
    <section class="flex flex-wrap gap-3 items-center">

      <!-- TASK PRIORITY TODO: make it possible to change the priority also! -->
      <span mat-button [matMenuTriggerFor]="priorityMenu"
            class="dark:hover:text-gray-700 cursor-pointer">

          <ng-container [ngSwitch]="task.priority">
              <mat-icon
                [style]="'color:darkred; padding: 3px 0 5px 3px; font-size:25px; height:33px; width:33px; border:1px solid; border-radius:50%;'"
                *ngSwitchCase="TaskPriorityNames.URGENT">flag</mat-icon>
              <mat-icon
                [style]="'color:darkorange; padding: 3px 0 5px 3px; font-size:25px; height:33px; width:33px; border:1px solid; border-radius:50%;'"
                *ngSwitchCase="TaskPriorityNames.HIGH">flag</mat-icon>
              <mat-icon
                [style]="'color: lightblue; padding: 3px 0 5px 3px; font-size:25px; height:33px; width:33px; border:1px solid; border-radius:50%;'"
                *ngSwitchCase="TaskPriorityNames.LOW">flag</mat-icon>
              <mat-icon
                [style]="'color: darkgray; padding: 3px 0 5px 3px; font-size:25px; height:33px; width:33px; border:1px solid; border-radius:50%;'"
                *ngSwitchCase="TaskPriorityNames.NO_PRIORITY">flag</mat-icon>
            </ng-container>

            <mat-menu class="dark:bg-gray-800" #priorityMenu="matMenu" xPosition="after">
              <button (click)="updateTaskId(task.id,task.status,'priority',priority);"
                      *ngFor="let priority of taskPriority" mat-menu-item>
                <ng-container [ngSwitch]="priority">
                  <span class="text-rose-500" *ngSwitchCase="TaskPriorityNames.URGENT"><mat-icon
                    style="color:darkred">flag_circle</mat-icon>
                    {{priority}}</span>
                  <span class="text-orange-500" *ngSwitchCase="TaskPriorityNames.HIGH"><mat-icon
                    style="color:darkorange">flag_circle</mat-icon>
                    {{priority}}</span>
                  <span class="text-blue-500" *ngSwitchCase="TaskPriorityNames.LOW"><mat-icon
                    style="color: darkblue">flag_circle</mat-icon>
                    {{priority}}</span>
                  <span class="text-gray-500" *ngSwitchCase="TaskPriorityNames.NO_PRIORITY"><mat-icon
                    style="color: darkgray">flag_circle</mat-icon>
                    {{priority}}</span>
                </ng-container>

              </button>
            </mat-menu>
        </span>
      <!-- TASK PRIORITY -->

      <!-- TASK STATUS -->
      <div mat-button [matMenuTriggerFor]="statusMenu"
           class="dark:hover:bg-gray-700 pl-3 pr-1 py-1 cursor-pointer border rounded-md">
        <div class="flex items-center">
          <span class="whitespace-nowrap" #selectorStatus>{{task.status}}</span>
          <mat-icon>arrow_right</mat-icon>
        </div>

        <mat-menu class="dark:bg-gray-800" #statusMenu="matMenu" xPosition="after">

          <button (click)="updateTaskId(task.id,task.status,'status',status);
                selectorStatus.innerText = status"
                  *ngFor="let status of taskStatuses" mat-menu-item>
            <span class="dark:text-gray-400">{{status}}</span>
          </button>
        </mat-menu>

      </div>
      <!-- TASK STATUS -->

    </section>
    <!-- Status & Priority -->

    <!--Created,Start and End Dates -->
    <div class="hidden md:flex md:items-center gap-2">

      <!--Created at -->
      <div class="border-r px-2">

        <p class="text-[11px] text-center uppercase">Created: </p>
        <p class="flex text-[11px] whitespace-nowrap py-1">
          <mat-icon style="font-size:13px;">calendar_today</mat-icon>
          {{task.created_at | date: 'd MMM, y HH:mm' }}
        </p>

      </div>
      <!--Created at -->

      <!-- Start Date -->
      <div class="relative px-2">

        <p class="text-[11px] text-center uppercase">Start Date</p>
        <p class="flex text-[11px] whitespace-nowrap py-1 cursor-pointer" (click)="editStartDate=true">
          <mat-icon style="font-size:13px;">calendar_today</mat-icon>
          <span *ngIf="task.start_date">
            {{task.start_date | date: 'd MMM, y HH:mm' }}
          </span>
          <span *ngIf="!task.start_date">No Start Date</span>
        </p>

        <div *ngIf="editStartDate" class="absolute top-1 z-10 bg-gray-100 dark:bg-gray-800 border px-3 py-2">
          <span class="text-sm">Start Date</span>
          <app-date-time-picker [defaultDate]="task.start_date"
                                (dateValueOutput)="setStartDate($event)"></app-date-time-picker>
          <button class="text-sm px-2 py-1 border rounded-lg"
                  (click)="updateTaskStartDate();editStartDate=false">Close
          </button>
        </div>

        <!--        <mat-form-field (change)="updateTaskDates(task)" appearance="fill">-->
        <!--          <mat-label>Enter a date range</mat-label>-->
        <!--          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">-->
        <!--            <input matStartDate formControlName="start_date" placeholder="Start date">-->
        <!--            <input matEndDate formControlName="end_date" placeholder="End date">-->
        <!--          </mat-date-range-input>-->
        <!--          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>-->
        <!--          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>-->
        <!--          <mat-date-range-picker #picker></mat-date-range-picker>-->

        <!--          <mat-error *ngIf="range.controls.start_date.hasError('matStartDateInvalid')">Invalid start date</mat-error>-->
        <!--          <mat-error *ngIf="range.controls.end_date.hasError('matEndDateInvalid')">Invalid end date</mat-error>-->
        <!--        </mat-form-field>-->

      </div>
      <!-- Start Date -->

      <mat-icon>arrow_forward_ios</mat-icon>

      <!-- End Date -->
      <div class="relative px-2">
        <p class="text-[11px] text-center uppercase">End Date</p>
        <p class="flex text-[11px] whitespace-nowrap py-1 cursor-pointer" (click)="editEndDate=true">
          <mat-icon style="font-size:13px;">event</mat-icon>
          <span *ngIf="task.end_date">{{task.end_date | date: 'd MMM, y HH:mm'}}</span>
          <span *ngIf="!task.end_date">No End Date</span>
        </p>

        <div *ngIf="editEndDate" class="absolute top-1 z-10 bg-gray-100 dark:bg-gray-800 border px-3 py-2">
          <span class="text-sm">End Date</span>
          <app-date-time-picker [defaultDate]="task.end_date"
                                (dateValueOutput)="setEndDate($event)"></app-date-time-picker>
          <button class="text-sm px-2 py-1 border rounded-lg"
                  (click)="updateTaskEndDate();editEndDate=false">Close
          </button>
        </div>

      </div>
      <!-- End Date -->

    </div>
    <!--Created,Start and End Dates -->

    <!-- Edit Goal Icon -->
    <div class="border-none outline-none focus:outline-none">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Task menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Move</span>
        </button>
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>

    </div>
    <!-- Edit Goal Icon -->

    <span class="absolute top-2 right-2 cursor-pointer" mat-dialog-close>
      <mat-icon>cancel</mat-icon>
    </span>

  </div>
  <!-- Status, Priority, Dates & Edit button -->

  <!-- Task Tags -->
  <div class="flex items-center gap-1 text-sm my-3">
    <span class="bg-gray-900 px-1 rounded-r-full">tag</span>
    <span class="bg-gray-900 px-1 rounded-r-full">another_tag</span>
    <span class="bg-gray-900 px-1 rounded-r-full">one_more</span>
    <button (click)="addTag()">
      <mat-icon style="font-size: 17px; padding-top:9px;">sell</mat-icon>
    </button>
  </div>
  <!-- Task Tags -->

  <!-- Task Title -->
  <!--  <h1 class="dark:c-text-dark my-5 md:mt-0 text-[25px] md:text-3xl tracking-tight">-->
  <!--    <span class="dark:text-orange-200 font-bold">✔ </span>-->
  <!--    <span #title class="px-2"-->
  <!--          [contentEditable]="editTitle"-->
  <!--          [innerText]="task.title"-->
  <!--          (click)="editTitle=true"-->
  <!--          (focusout)="updateTaskId(task.id,task.status,'title',title.innerText);editTitle=false"></span>-->
  <!--  </h1>-->
  <h1 class="dark:c-text-dark my-5 md:mt-0 text-[25px] md:text-3xl tracking-tight">
    <span *ngIf="!editTitle" class="dark:text-orange-200 font-bold">✔ </span>
    <span *ngIf="!editTitle"
          (click)="editTitle=true">{{task.title}}</span>

    <span *ngIf="editTitle" class="w-[5%] dark:text-orange-200 font-bold">✏️</span>
    <input *ngIf="editTitle" class="w-[95%] bg-transparent border px-3"
           #title type="text" [value]="task.title"
           (focusout)="updateTaskId(task.id,task.status,'title',title.value);editTitle=false">
  </h1>
  <!-- Task Title -->

  <!-- HTML Description -->
  <h3 class="flex text-xl font-bold mt-3">
    <mat-icon>description</mat-icon>
    Task Description
  </h3>
  <div *ngIf="!editDescription" class="border p-3 mb-5 dark:focus:bg-gray-800"
       [innerHTML]="task.description"
       (click)="editDescription=true"></div>
  <ng-container *ngIf="editDescription">
    <app-rich-text-editor class="mb-5"
                          [defaultText]="task.description"
                          (html)="updateTaskDescription($event)"
    ></app-rich-text-editor>
    <button class="px-3 py-1 my-5 mr-1 border hover:bg-gray-100 dark:hover:bg-gray-700 dark:active:bg-gray-800"
            (click)="updateTaskId(task.id,task.status,'description',taskDescription);
            editDescription=false">Save
    </button>
    <button class="px-3 py-1 my-5 border hover:bg-gray-100 dark:hover:bg-gray-700 dark:active:bg-gray-800"
            (click)="editDescription=false">Cancel
    </button>
  </ng-container>
  <!-- HTML Description -->

  <!-- Checklist -->
  <section>
    <mat-icon>tenancy</mat-icon>
    <div class="flex gap-1">
      <mat-icon style="transform: rotate(180deg);">schema</mat-icon>
      Subtasks
    </div>
    <ul>
      <li>
        <mat-checkbox [color]="'darkgreen'"></mat-checkbox>
        To Implement Sub Tasks
      </li>
      <li>
        <mat-checkbox [color]="'darkgreen'"></mat-checkbox>
        To Add progress bar for each Task!!!
      </li>
      <li>
        <mat-checkbox [color]="'darkgreen'"></mat-checkbox>
        Task Progress to depend on subtasks
      </li>
      <li>
        <mat-checkbox [color]="'darkgreen'"></mat-checkbox>
        If subtasks are completed task is completed automatically!
      </li>
      <li>
        <mat-checkbox [color]="'darkgreen'"></mat-checkbox>
        If Change Task status to completed all subtasks will be checked automatically maybe?!
      </li>
    </ul>
  </section>
  <!-- Checklist -->


</section>
