<ng-container *ngIf="(activeTarget$|async) as target;">

  <app-page-title [title]="'🎯 TARGET:'" [text]="target.title"></app-page-title>

  <!-- BACK BUTTON -->
  <button [routerLink]="['/goals',target.goal_id]"
          class="m-5 flex gap-3 items-center px-3 py-2 cursor-pointer border rounded">
    <mat-icon>arrow_back_ios_new</mat-icon>
    <span>Goal</span>
  </button>
  <!-- BACK BUTTON -->

  <!-- Active Target Details -->
  <article class="bg-white dark:bg-gray-800 relative m-5 p-5 border rounded">

    <!-- Target Details -->
    <section [@fadeTargetInOut] *ngIf="!editTarget">

      <!-- Edit Target Icon -->
      <div class="absolute top-3 right-3">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Target menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="editTarget=true" mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button (click)="deleteTarget(target.id,target.goal_id)" mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>

      </div>
      <!-- Edit Target Icon -->

      <!-- Target Progress 0/2 Tasks done -->
      <section class="my-5">

        <!--Target Progress  -->
        <div class="w-full mx-auto flex justify-between">
          <span>tasks</span>
          <span>{{target.total_completed_tasks}}/{{target.total_tasks}}</span>
        </div>

        <div class="w-full mx-auto border dark:border-gray-200 bg-white dark:bg-gray-600">
          <div class="text-center text-center bg-green-600 dark:bg-green-800 text-gray-900 dark:text-gray-300"
               [style]="'width:'+(target.progress).toFixed(1)+'%'">{{(target.progress).toFixed(1)}}%
          </div>
        </div>
        <!--Target Progress -->

      </section>
      <!-- Target Progress 0/2 Tasks done -->

      <!-- Target Description -->
      <pre class="p-5 border bg-gray-50 dark:bg-gray-700">{{target.description}}</pre>
      <!-- Target Description -->

      <!-- Created Date -->
      <div class="py-5 flex flex-wrap justify-start">

        <p class="flex items-center">
          <mat-icon class="mb-[9px] text-xl">calendar_today</mat-icon>
          <span>Created at: {{target.created_at| date: 'MMM d, y'}}</span>
        </p>

      </div>
      <!-- Start and Due Dates -->

    </section>
    <!-- Target Details -->

    <!-- Edit Target Form -->
    <form *ngIf="editTarget" [@fadeInOut] (ngSubmit)="editTargetFormHandler(editTargetForm)"
          #editTargetForm="ngForm"
          class="bg-white dark:bg-gray-800 mt-8 space-y-6 shadow p-10 rounded-lg
            shadow-2xl dark:shadow dark:shadow-gray-500">

      <input type="hidden" [ngModel]="target.id" name="id" ngModel>

      <!-- Target Title Input Container-->
      <div>
        <div class="flex align-center border border-slate-600 rounded">
          <input class="w-full py-2 px-3 dark:bg-gray-800 dark:focus:bg-gray-900 dark:active:bg-gray-700"
                 type="text"
                 name="title"
                 #title="ngModel"
                 placeholder="Title..."
                 minlength="5"
                 [ngModel]="target.title"
          />
        </div>
        <!-- Error messages -->
        <ng-container *ngIf="title.touched">
            <span *ngIf="title.errors?.['required']"
                  class="text-sm text-red-600">
              Please enter Title!
            </span>
          <span *ngIf="title.errors?.['minlength']"
                class="text-sm text-red-600">
              The Target title must be at least 10 characters long!
            </span>
        </ng-container>

      </div>
      <!-- Target Title Input Container-->

      <!-- Target Description Input Container-->
      <div>
        <div class="flex align-center border border-slate-600 rounded">
            <textarea
              class="w-full min-h-[175px] py-2 px-3 dark:bg-gray-800 dark:focus:bg-gray-900 dark:active:bg-gray-700"
              name="description"
              #description="ngModel"
              placeholder="Target Description..."
              [ngModel]="target.description"></textarea>
        </div>
        <!-- Error messages -->
        <ng-container *ngIf="title.touched">
            <span *ngIf="description.errors?.['required']"
                  class="text-sm text-red-600">
              Description can not be empty!
            </span>
        </ng-container>
      </div>
      <!-- Target Description Input Container-->

      <!-- Save Button -->
      <div>

        <button type="submit" class="relative btn-primary dark:btn-primary-dark">
          Save Changes
        </button>

        <button class="py-2 px-3 ml-3 border shadow dark:shadow-gray-300 rounded dark:active:bg-gray-700"
                type="button"
                (click)="editTarget=false">
          Cancel
        </button>

      </div>
      <!-- Save Button -->


    </form>
    <!-- Edit Target Form -->

  </article>
  <!-- Active Target Details -->

  <section class="my-5" *ngIf="(targetTasksList$|async) as targetTasksList">

    <app-tasks-list (taskEvent)="updateTargetProgress($event,target)" [targetId]="target.id"
                    [tasksList]="targetTasksList"></app-tasks-list>

  </section>

</ng-container>
