<ng-container *ngIf="(activeTask$|async) as task;">

  <app-page-title title="✔ TASK:" [text]="task.title"></app-page-title>

  <!-- BACK BUTTON -->
  <button [routerLink]="['/target',task.target_id]"
          class="hidden md:flex m-5 gap-3 items-center dark:hover:bg-gray-800 px-3 py-2 cursor-pointer border rounded">
    <mat-icon>arrow_back_ios_new</mat-icon>
    <span>Target</span>
  </button>
  <!-- BACK BUTTON -->

  <article class="bg-white dark:bg-gray-800 relative p-2 m-1 md:m-5 md:p-5 border rounded">

    <!-- TASK Details -->
    <section [@fadeInOut] *ngIf="!editTask">

      <!-- Edit task Icon -->
      <div class="absolute top-3 right-3">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="task menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="editTask=true" mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button (click)="deleteTask(task)" mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>

      </div>
      <!-- Edit task Icon -->

      <!-- Task Status And Priority
      TODO: add colors for status and priority depending on status and priority type green red orange -->
      <section class="my-5 flex gap-3 items-center">

        <!-- TASK PRIORITY TODO: make it possible to change the priority also! -->
        <span #selectorPriority mat-button
              class="dark:hover:text-gray-700">

          <ng-container [ngSwitch]="task.priority">
              <mat-icon [style]="'color:darkred; padding: 3px 0 5px 3px; font-size:25px; height:33px; width:33px; border:1px solid; border-radius:50%;'"
                        *ngSwitchCase="TaskPriorityNames.URGENT">flag</mat-icon>
              <mat-icon [style]="'color:darkorange; padding: 3px 0 5px 3px; font-size:25px; height:33px; width:33px; border:1px solid; border-radius:50%;'"
                        *ngSwitchCase="TaskPriorityNames.HIGH">flag</mat-icon>
              <mat-icon [style]="'color: lightblue; padding: 3px 0 5px 3px; font-size:25px; height:33px; width:33px; border:1px solid; border-radius:50%;'"
                        *ngSwitchCase="TaskPriorityNames.LOW">flag</mat-icon>
              <mat-icon [style]="'color: darkgray; padding: 3px 0 5px 3px; font-size:25px; height:33px; width:33px; border:1px solid; border-radius:50%;'"
                        *ngSwitchCase="TaskPriorityNames.NO_PRIORITY">flag</mat-icon>
            </ng-container>

          <!--        <mat-menu class="example-mat-menu" #priorityMenu="matMenu" xPosition="after">-->
          <!--          <button (click)="updateTaskId(task.id,task.status,'priority',priority);-->
          <!--                  selectorPriority.innerText = priority"-->
          <!--                  *ngFor="let priority of taskPriority" mat-menu-item>-->

          <!--            <ng-container [ngSwitch]="priority">-->
          <!--             <span class="text-rose-500" *ngSwitchCase="TaskPriorityNames.URGENT"><mat-icon style="color:darkred">flag_circle</mat-icon>{{priority}}</span>-->
          <!--             <span class="text-orange-500" *ngSwitchCase="TaskPriorityNames.HIGH"><mat-icon style="color:darkorange">flag_circle</mat-icon>{{priority}}</span>-->
          <!--             <span class="text-blue-500" *ngSwitchCase="TaskPriorityNames.LOW"><mat-icon style="color: darkblue">flag_circle</mat-icon>{{priority}}</span>-->
          <!--             <span class="text-gray-500" *ngSwitchCase="TaskPriorityNames.NO_PRIORITY"><mat-icon style="color: darkgray" >flag_circle</mat-icon>{{priority}}</span>-->
          <!--            </ng-container>-->

          <!--          </button>-->
          <!--        </mat-menu>-->
        </span>
        <!-- TASK PRIORITY -->

        <!-- TASK STATUS -->
       <div mat-button [matMenuTriggerFor]="statusMenu"
                class="dark:hover:bg-gray-700 pl-3 pr-1 py-1 cursor-pointer border rounded-md">
          <div class="flex items-center">
            <span #selectorStatus>{{task.status}}</span>
            <mat-icon>arrow_right</mat-icon>
          </div>

        <mat-menu class="example-mat-menu dark:example-mat-menu-dark" #statusMenu="matMenu" xPosition="after">

          <button (click)="updateTaskId(task.id,task.status,'status',status);
                selectorStatus.innerText = status"
                  *ngFor="let status of taskStatuses" mat-menu-item>
            {{status}}
          </button>
        </mat-menu>

        </div>
        <!-- TASK STATUS -->

      </section>
      <!-- Task Status And Priority -->

      <!--Progress bar
      //TODO: to implement Subtasks -->
      <!--      <div class="my-5 w-[100%] border dark:border-gray-200 bg-gray-50 dark:bg-gray-600">-->
      <!--        <div class="text-center py-1 bg-green-600 dark:bg-green-800 text-gray-900 dark:text-gray-300"-->
      <!--             [style]="'width:'+(task.progress).toFixed(2)+'%'">{{(task.progress).toFixed(2)}}%-->
      <!--        </div>-->
      <!--      </div>-->
      <!--Progress bar -->


      <!-- task Description -->
      <div [innerHTML]="task.description" class="p-5 border bg-gray-50 dark:bg-gray-700"></div>
      <!-- task Description -->

      <!-- Start and End Dates -->
      <div class="py-5 flex flex-wrap justify-between">

        <p class="flex items-center">
          <mat-icon class="mb-[9px] text-xl">calendar_today</mat-icon>
          <span>Start Date: {{task.start_date| date: 'MMM d, y'}}</span>
        </p>

        <p class="flex items-center">
          <mat-icon class="mb-[5px] text-[24px]">event</mat-icon>
          <span>End Date: {{task.end_date| date: 'MMM d, y'}}</span>
        </p>
      </div>
      <!-- Start and Due Dates -->
    </section>
    <!-- TASK Details -->

    <!-- Edit task Form -->
    <form *ngIf="editTask" [@fadeTaskInOut] (ngSubmit)="editTaskFormHandler(editTaskForm,task)"
          #editTaskForm="ngForm"
          class="bg-white dark:bg-gray-800 mt-5 space-y-6 md:shadow md:p-10 md:rounded-lg
            dark:shadow-gray-500">
      <!-- task Title Input Container-->
      <div>
        <div class="flex align-center border border-slate-600 rounded">
          <input class="w-full py-2 px-3 dark:bg-gray-800 dark:focus:bg-gray-900 dark:active:bg-gray-700"
                 type="text"
                 name="title"
                 #title="ngModel"
                 placeholder="Title..."
                 minlength="5"
                 max="255"
                 required
                 [ngModel]="task.title"
          />
        </div>
        <!-- Error messages -->
        <ng-container *ngIf="title.touched">
            <span *ngIf="title.errors?.['required']"
                  class="text-sm text-red-600">
              Please enter Title!
            </span>
          <span *ngIf="title.errors?.['minlength']"
                class="text-sm text-red-600">
              The task title must be at least 5 - 145 characters long!
            </span>
        </ng-container>

      </div>
      <!-- task Title Input Container-->

      <!-- Start & Due Date Container-->
      <section class="flex flex-wrap">

        <!-- Start Date -->
        <div class="text-sm w-full md:w-1/2">
          <label class="text-color-light dark:text-color-dark">Start Date:</label>

          <div class="flex align-center border border-slate-600 rounded">
            <input class="w-full py-2 px-3 dark:bg-gray-800 dark:focus:bg-gray-900 dark:active:bg-gray-700"
                   type="date"
                   name="start_date"
                   #start_date="ngModel"
                   [ngModel]="dateFn.dateToInputDate(task.start_date)"/>
          </div>

        </div>
        <!-- Start Date -->

        <!-- Task End Date -->
        <div class="text-sm w-full md:w-1/2">
          <label class="text-color-light dark:text-color-dark">End Date:</label>

          <div class="flex align-center border border-slate-600 rounded">
            <input class="w-full py-2 px-3 dark:bg-gray-800 dark:focus:bg-gray-900 dark:active:bg-gray-700"
                   type="date"
                   name="end_date"
                   #end_date="ngModel"
                   [ngModel]="dateFn.dateToInputDate(task.end_date)"/>
          </div>

        </div>
        <!-- Goal Due Date -->

      </section>
      <!-- Start & Due Date Container-->

      <!-- Task Description Input Container-->
      <div>
        <div class="flex align-center border border-slate-600 rounded">
            <textarea
              class="w-full min-h-[175px] py-2 px-3 dark:bg-gray-800 dark:focus:bg-gray-900 dark:active:bg-gray-700"
              name="description"
              #description="ngModel"
              placeholder="Task Description..."
              [ngModel]="task.description"></textarea>
        </div>
      </div>
      <!-- Task Description Input Container-->

      <!-- Save Button -->
      <div>

        <button type="submit" class="relative btn-primary dark:btn-primary-dark">
          Save Changes
        </button>

        <button class="py-2 px-3 ml-3 border shadow dark:shadow-gray-300 rounded dark:active:bg-gray-700"
                type="button"
                (click)="editTask=false">
          Cancel
        </button>

      </div>
      <!-- Save Button -->


    </form>
    <!-- Edit task Form -->

  </article>
  <!-- task Details -->

  <!-- Targets //TODO: implement subtasks!-->
  <!--  <section class="m-5" *ngIf="(tasksList$|async) as tasksList">-->

  <!--    <app-tasks-list [tasksList]="tasksList"></app-tasks-list>-->

  <!--  </section>-->
  <!-- Targets -->

  <div class="py-3">
    Subtasks <mat-icon>schema</mat-icon>
    Subtasks <mat-icon>tenancy</mat-icon>
    Subtasks <mat-icon>mediation</mat-icon>
  </div>

</ng-container>

